/* #242424 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #242424;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  height: 100px;
}

header h1 {
  color: white;
  text-align: right;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main img {
  width: 37%;
  z-index: -1;
}

main a {
  color: white;
  text-decoration: none;
  width: auto;
  border: 1px solid white;
  padding: 5px 40px;
  border-radius: 30px;
  -webkit-transition: .25s;
  transition: .25s;
  margin-top: 20px;
  font-size: 30px;
}

main a:hover {
  color: #242424;
  border-color: #242424;
  background-color: white;
}

footer {
  color: white;
  font-size: 20px;
  padding: 20px;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 650px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2vw;
    margin-bottom: 30px;
  }
  header img {
    margin-bottom: 30px;
  }
  main {
    margin: 30px 0px;
  }
  main a {
    margin: 50px 0px 30px;
    font-size: 4vw;
  }
}
@media (max-width: 900px) {
  main img {
    width: 90%;
  }
}
/* coded by : Marah Kinana */
